#root {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;

  justify-content: center;
  justify-items: center;
  height: 250px;
  padding: 20px;

  height:100%;
  flex-wrap: wrap;

}

.sec1 {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: rgb(65, 67, 69);
  margin: 10px 0;
  border-radius: 10px;
}

.dataContainer{
  width: 150px;
  text-align: left;
}

.nameIpt {
  width: 30%;
  padding: 5px;
}

.ageIpt {
  width: 10%;
  padding: 5px;
}

.createUserContainer{
  padding: 15px;
  background-color: rgb(65, 67, 69);
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 20px;
}

button{
  padding: 5px;
}